<div class="ui pointing menu">
    <div class="ui container">
    <div class="item"><img class="ui mini image" src="https://cdn0.iconfinder.com/data/icons/cosmo-devices/40/videocamera_3-512.png"></div>
    <a class="item {{#if home}} active {{/if}}" href="/home"><i class="plus icon"></i> Home</a>
    <a class="item {{#if cinemas}} active {{/if}}" href="/cinemas"><i class="film icon"></i> Cinemas</a>
    </div>
</div>