<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu }}    
    <div class="ui segment">
    <div class="item">
              <i class="warehouse icon"></i>
              <div class="content">
                <div class="header">{{cinemaInfo.name}}</div>
                <div class="description">{{cinemaInfo.city}}</div>
              </div>
            </div> 
  </body>
</html>